.intro .splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background: #7be0ad;
}

.intro .splash h2 {
  font-size: 6vw;
  margin: 0;
  letter-spacing: 4px;
}

.intro .splash .credit {
  font-style: italic;
  font-size: 12px;
}

.intro .splash .credit a {
  color: #734;
}

.intro .intro--txt {
  display: flex;
  align-items: center;
  padding: 60px;
  background: #29335c;
  color: #fff;
  font-size: 2.5vw;
  line-height: 1.6;
  letter-spacing: 1px;
}
